


<div class='col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4'>
<!-- 	<div class="bs-callout bs-callout-primary">
		<h4 class="orange-color">Tired of keeping secrets to yourself?</h4>
		<h4 class="orange-color">Leave them with us!</h4>
	</div>
 -->	<h2 class="text-center">Sign up</h2>
	<form action='/users' method='post'>
		<input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" name="name" placeholder="Name">
		</div>

		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" id="email" name="email" placeholder="Email">
		</div>

		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" name="password" placeholder="Password">
		</div>

		<div class="form-group">
			<label for="password_confirmation">Password Confirmation</label>
			<input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="Password Confirmation">
		</div>

		<button type="submit" class="btn btn-primary">Join</button>
	</form>
	<div class="bs-callout bs-callout-primary transparent">
		<%= link_to("Already have an account?", new_session_path, {class: "text-primary"}) %>
	</div>
</div>

<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
		<p><%= e %></p>
	<% end %>
<% end %>




