*{
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

#wrapper{
	margin: 0 auto;
	width: 970px;
}

header{
  height: 130px;
  width: inherit;
  background-color: #f2f2f2;
  border-bottom: 2px solid gray;
  overflow: hidden;
}
  header, img, h1, #leftHeader, #rightHeader{
    display: inline-block;
    vertical-align: middle;
  }

  h1.call{
    margin-left: 250px;
    margin-top: 20px;
    font-size: 18px;
    text-transform: uppercase;
  }

  #logo{
    margin-left: 10px;
  }

.headline {
    text-transform: uppercase;
}

img.main{
  border: 5px solid white;
}

#nav{
  margin-top: 5px;
  padding: 0px;
  background-color: #dbe1e6;
	font-size: 11px;
  width: inherit;
  border-top: 1px solid silver;

}
	#nav a{
    color: #777;
    font-weight: 800;
		text-decoration: none;
	}

	#nav ul{
		list-style: none;
    margin: 0 30px;
    padding: 0;
	}

	#nav li{
		display: inline-block;
		border-left: 1px solid silver;
		padding: 10px 18px;

	}

	#nav li:last-child{
		border-right: 1px solid silver;
	}

#body{
	background-color: black;
	padding: 15px 0px 30px 30px;
	width: 940px;
}

#bodyTop{
  display: inline-block;
}

#aboutRight{
	color: white;
	display: inline-block;
	vertical-align: top;
	width: 500px;
	height: 265px;
	background-color: gray;
	margin-left: 10px;
}

	#aboutRight p{
		display: inline-block;
		font-size: 11px;
		line-height: 14px;
		padding: 5px 18px;
		margin: 0;
	}

#ppc{
	padding: 8px 13px;
  font-size: 13px;
	margin: 0;
	background-color: #ffc52f;
	color: black;
}

#heritage{
	margin: 15px 18px;
  font-size: 14px;
	padding: 0;
}

#info{
	margin: 10px;
}

	#info p{
		display: inline-block;
		color: darkkhaki;
		font-size: 10px;
		margin: 0px 15px;
    padding-top: 0;
	}

  #info img{
    border-radius: 3px;
  }

.box{
	display: inline-block;
	margin: 0;
	width: 210px;
	background-color: white;
	vertical-align: top;
	margin-right: 16px;
	height: 250px;
}

	.box p{
		font-size: 11px;
		padding: 10px;
		height: 60px;
	}

	.box h3{
		margin: 0;
		padding: 7px 13px;
		background-color: #ffc52f;
		color: black;
		font-size: 10px;
    font-weight: 800;
    border-bottom: 1px solid black;
	}

  .box img{
    width: 210px;
  }

.boxButton{
	text-align: center;
  margin-left: 70px;
}

  .boxButton ul{
  	list-style: none;
  	display: inline-block;
  }

	.boxButton ul li a{
		display: inline-block;
    text-transform: uppercase;
    height: 12px;
		background: #ffc52f;
		text-align: center;
    padding: 6px;
		position: relative;
		margin: 8px;
		font-size: 10px;
    font-weight: 700;
		text-decoration: none;
		color: #000;
	}

	.boxButton ul li a:after{
		content: "";
		border-top: 12px solid transparent;
			border-bottom: 12px solid transparent;
			border-left: 12px solid #ffc52f;
		position: absolute; right: -12px; top: 0;
		z-index: 1;
	}

	.boxButton ul li:first-child a{
		border-top-left-radius: 5px; border-bottom-left-radius: 5px;
	}

	.boxButton ul li:first-child a:before{
		display: none;
	}
